@font-face {
	font-family: "Montserrat";
	src: url("/fonts/Montserrat"); /* IE9 Compat Modes */

	/* fonts.css */
}

@font-face {
	font-family: "Caveat";
	src: url("/fonts/Caveat-VariableFont_wght.ttf"); /* IE9 Compat Modes */
}

* {
	font-family: "Montserrat", "Helvetica Neue", "Helvetica", sans-serif;
}

header {
	position: sticky;
	top: 0;
	z-index: 999;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

main {
	margin: 16px 24px;
}
